{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes ingredients
{% endblock %}

{% block body %}

	<div id="ingredient_container">

		<div class="container mt-4">
			{% if ingredients.items is defined %}
				<h1>Mes ingredients</h1>


				<div id="form_container_ingredient" class="container">

					<h3 class="mt-4 mb-4">
						Création d'un ingrédient
					</h3>

					{{ form_start(form) }}

					<div class="form-group">
						{{ form_widget(form.name )}}
						<div class="form-error">
							{{ form_errors(form.name )}}
						</div>
					</div>

					<div class="form-group">
						{{ form_widget(form.price )}}
						<div class="form-error">
							{{ form_errors(form.price )}}
						</div>
					</div>

					{{ form_end(form) }}
				</div>


				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('warning') %}
					<div class="alert alert-dismissible alert-danger  mt-4">
						{{ message }}
					</div>
				{% endfor %}

				<div class="count mt-4">
					<h4>Il y a
						{{ ingredients.getTotalItemCount }}
						ingrédients
					</h4>
				</div>

				<div class="tableau_ingredient">

					<table class="table table-hover mt-4">
						<thead>
							<tr>
								<th scope="col">Numéro</th>
								<th scope="col">Nom</th>
								<th scope="col">Prix</th>
								<th scope="col">Date de création</th>
								<th scope="col">Edition</th>
								<th scope="col">Suppression</th>
							</tr>
						</thead>
						<tbody>
							{% for ingredient in ingredients %}
								<tr class="table-primary">
									<th scope="row">{{ingredient.id}}</th>
									<td>{{ingredient.name}}</td>
									<td>{{ingredient.price}}</td>
									<td>{{ingredient.createdAt|date("d/m/Y") }}</td>
									<td>
										<a href="{{ path ('ingredient.edit', { id: ingredient.id }) }}" class="btn btn-info">Modifier</a>
									</td>
									<td>
										<a href="{{ path ('ingredient.delete', { id: ingredient.id }) }}" class="btn btn-warning">Supprimer</a>
									</td>
								</tr>
							</td>
						</tbody>
					</tr>
				{% endfor %}
			</table>

		</div>

		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(ingredients) }}
		</div>
	{% else %}
		<h4>Il n'y a pas d'ingrédients</h4>
	{% endif %}
</div></div>{% endblock %}
