{% extends "base.html.twig" %}

{% block title %}
	SymRecipe - Accueil
{% endblock %}

{% block body %}

	<div id="container" class="container mt-4">
		<div id="container_home" class="jumbotron">
			<h1 class="display-4">Bienvenue sur
				<span>SymRecipe</span>
			</h1>
			<p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privées.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>
		</div>

		<div class="recipes">
			<h2>Recette de la communauté
			</h2>
			<div id="commu-container-home" class="d-flex justify-content-between mt-4">
				{% for recipe in recipes %}

					<a href="{{ path('recipe.show', {'id': recipe.id}) }}">
						<div id="card" class="card text-white bg-primary mb-3" style="max-width: 20rem;">
							<div class="card-header">Recette n°{{ recipe.id }}
								<br>
								<span>Catégorie
									{{recipe.category.name}}</span>
							</div>
							<div class="card-body">

								{% if recipe.marks|length > 0 %}
									<p>Note:
										{{ recipe.average|number_format(2, '.', ',')}}
										/ 5</p>
								{% else %}
									<p>Pas encore noté.</p>
								{% endif %}

								{% if recipe.imageName %}
									<div class="container_image_recipe">
										<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.name }}" class="img-fluid">
									</div>
								{% endif %}
								<h4 class="card-title">{{ recipe.name }}</h4>
								<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
							</div>
						</div>
					</a>
				{% endfor %}

			</div>

			<a href="{{ path('recipe.index.public') }}">
				<button type="submit" class="btn btn-primary mt-4">
					Voir toutes les recettes de la communauté
				</button>
			</a>
		</div>

	</div>


{% endblock %}
