{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Password</label>
		<div class="input-group mb-3">
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="togglePassword">
					<i class="fa fa-eye"></i>
				</button>
			</div>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>

		<p class="mt-4">Mot de passe oublié ? cliqué
			<a href="{{ path('app_forgot_password_request') }}">
				ici
			</a>
		</p>

		<p class="mt-4">Vous n'avez pas de compte inscrivez-vous en cliquant
			<a href="{{ path('security.registration') }}">
				ici
			</a>
		</p>

	</form>
{% endblock %}
